[submodule "pvgisjsonapi/float"]
	path = pvgisjsonapi/float
	url = https://github.com/nagilum/float
[submodule "pvgisjsonapi/gamp"]
	path = pvgisjsonapi/gamp
	url = https://github.com/nagilum/gamp
[submodule "miniserve-webpage/source/js/libs/jk"]
	path = miniserve-webpage/source/js/libs/jk
	url = https://github.com/nagilum/jk
