* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;

    search {
        display: block;
        padding: 5px 5px 0 5px;
        width: 300px;

        input[type=text] {
            border: solid 1px #999;
            height: 50px;
            margin: 0;
            padding: 0 10px;
            width: 300px;
        }
    }

    summary {
        display: block;
        margin: 0;
        padding: 15px 5px;
    }

    results {
        display: block;
        margin: 0;
        padding: 0 5px;

        h2 {
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
            margin: 0 0 5px 0;
            padding: 0;
        }

        ul {
            list-style: none;
            margin: 0 0 20px 0;
            padding: 0;

            li {
                background-color: #eee;
                border: solid 1px #999;
                border-radius: 5px;
                display: block;
                margin: 0 0 1px 0;
                min-height: 50px;
                overflow: hidden;
                width: 800px;

                span {
                    display: inline-block;
                    height: 25px;

                    &.title {
                        font-weight: 700;
                        padding: 2px 0 0 5px;
                    }

                    &.category {
                        font-style: italic;
                        padding: 2px 0 0 5px;
                    }

                    &.attribute {
                        font-size: 14px;
                        padding: 0 0 0 5px;
                    }

                    &.is-rare {
                        background-color: #aaa;
                        display: block;
                        float: right;
                        font-size: 12px;
                        height: 18px;
                        margin: -20px -20px 0 0;
                        padding: 0 20px;
                        transform: rotate(45deg);
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

@media (max-width: 810px) {
    body {
        search {
            width: 100%;

            input[type=text] {
                width: 100%;
            }
        }

        results {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }
}