* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin: 0;
    padding: 0;

    a {
        color: #0366d6;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &.italic {
            font-style: italic;
        }
    }

    header {
        background-color: #000;
        height: 50px;
        margin: 0;
        padding: 0;

        wrapper {
            display: block;
            margin: 0 auto;
            padding: 0;
            width: 980px;

            left {
                color: #fff;
                display: block;
                float: left;
                font-weight: 700;
                letter-spacing: 1px;
                padding: 14px 0 0;
                text-transform: uppercase;
            }

            right {
                display: block;
                float: right;

                a {
                    color: #0396f6;
                    display: inline-block;
                    font-weight: 700;
                    height: 50px;
                    margin-left: 20px;
                    padding: 14px 0 0;
                    text-transform: uppercase;
                }
            }
        }
    }

    article {
        margin: 0 auto;
        width: 980px;

        box {
            display: block;
            margin: 0;
            overflow: auto;
            padding: 0;

            row {
                clear: both;
                display: block;
                margin: 0;
                min-height: 40px;
                overflow: auto;
                padding: 0;
                width: 100%;

                cell {
                    display: block;
                    float: left;
                    margin: 0;
                    overflow: auto;
                    padding: 0;

                    &.half {
                        width: 49%;
                    }

                    &.name {
                        padding-top: 5px;
                        width: 200px;
                    }

                    &.value {
                        input[type=number] {
                            margin: 0;
                            padding: 5px;
                            width: 200px;
                        }

                        input[type=button] {
                            padding: 10px;
                        }

                        select {
                            margin: 0;
                            padding: 5px;
                            width: 200px;
                        }
                    }
                }
            }
        }

        h1 {
            font-family: 'Alegreya', serif;
            font-size: 46px;
            font-weight: 700;
            line-height: 46px;
            margin: 30px 0;
            padding: 0;
        }

        h2 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 23px;
            font-weight: normal;
            letter-spacing: 2px;
            line-height: 25px;
            margin: 0 0 25px;
            padding: 10px 0 0;
            text-transform: uppercase;
        }

        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 2px;
            line-height: 20px;
            margin: 0 0 20px;
            padding: 10px 0 0;
            text-transform: uppercase;
        }

        italic {
            font-style: italic;
        }

        mono {
            background-color: #eee;
            display: inline-block;
            font-family: 'Roboto Mono', monospace;
            padding: 0 5px;
        }

        p {
            margin: 0 0 23px;
            padding: 0;
        }

        pre {
            background-color: #eee;
            border: solid 1px #ccc;
            border-radius: 3px;
            font-family: 'Roboto Mono', monospace;
            font-size: 13px;
            hyphens: auto;
            overflow-wrap: break-word;
            padding: 5px;
            word-break: break-all;

            &.italic {
                font-style: italic;
            }
        }
    }

    footer {
        border-top: solid 1px #ddd;
        margin: 100px auto 0;
        padding: 20px 0;
        width: 980px;

        p {
            font-size: 13px;
            margin: 0;
            padding: 0;
        }
    }
}